@font-face {
    font-family: "poppins";
    src: url(../font/Poppins-Regular.ttf);
}
*{
    font-family: "poppins";
    margin: 0px;
}

/*  Header  */
.texto{
    margin-top: 7px;
    margin-bottom: 39px;
    font-size: 8px;
}
#Logo{
    width: 65%;
    height: 50%;
    
}
#Logo img{
    width: 116px;
    height: 48px;
}
.boton-barras{
    margin-top: 17px;
    float: right;
    margin-left: 16px;
    margin-right: 15px;
}
#check{
    display: none;
}
.boton-barras .fas, .boton-barras .fa-times {
    font-size: 18px;
    pointer-events: pointer;
  }
#menu-principal{
    position: absolute;
    display: absolute;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    background-color: #810052;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.5s ease-in-out;
}
#check:checked + nav#menu-principal{
    position: absolute;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#menu-principal li{
    padding: 15px 0px;
}
#menu-principal ul{
    display: hidden;
    list-style: none;
    padding: 0px ;
    margin: 0ch;
}
#menu-principal a{
    margin: 0px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    display: block;
	position: relative;
    color: white;
}
#menu-servicios{
    border-bottom: 1px solid white;
}

#menu-servicios{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
#eslogan{
    padding: 0px 85px;
    clear: both;
    width: auto;
    height: 375px;
    color: white;
    display: flex;
    margin: 0px auto;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    background: url("../images/tabletm.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#botonLogin{
    margin: auto;
    float: right;
    border: none;
    display: block;
    background-color: #810052;
    width: 61px;
    height: 6px;
    padding: 8px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    
}
#botonLogin a{
    margin: 0px auto 0px auto;
    text-align: center;
    text-decoration: none;
    font-size: 8px;
    font-weight: bold;
    color: white;
    border: none;
}
.Login button{
    margin: auto;
    
}
/* Fin Header */
.titulo{
    margin-top: 34px;
    color: #810052;
    font-size: 15px;
    font-weight: bold;
}
.tituloContacto{
    margin-bottom: 10px;
    color: #810052;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
#informacion{
    margin-top: 34px;
}
#Foto_mujer_presentar{
    width: 100%;
    height: 100%;

}
section{
    text-align: left;
    margin:0px 36px;
}

#botonContacto{
    font-size: 9px;
    background-color: #810052;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}
#botonContacto a{
    color: white;
    text-decoration: none;
    margin-bottom: 61px;
}
footer{
    text-align: center;
    font-size: 7px;
}


/*-------------Login----------------*/
#titulo-login{
    padding-left: 38px;
    font-size: 26px;
    font-weight: bolder;
    padding-bottom: 24px;
    
}

.Login{
    display: flex;
    flex-direction: column;
    padding-left: 38px;
    padding-right: 38px;
    display: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}
.Login input{
    color: black;
    margin-bottom: 10px;
    width: 80%;
    height: 80%;
    background-color: white;
}
h3{
    font-size: 8px;
    padding-bottom: 30px;
}
#enviar-login{
    border: none;
    box-shadow: 1px grey;
    background-color: #810052;
    font-weight: bold;
    font-size: 10px;
    width: 81px;    
    height: 36px;
}
.headerIndex{
    display: flex;
    flex-direction: column;
}
.fa-solid, .fa-xmark{
    font-size: 34px;
    margin-top: 27px;
    margin-right: 38px;
    float: right;
    clear: both;
}