/*  Header  */
#Logo img{
    max-width: 116px;
    max-height: 48px;
}
#Icono_Menu{
    float: right;
}
#menu-principal{
    text-align: center;
    clear: both;
    margin: auto;
    background-color: #810052;
}
#menu-principal ul{
    list-style: none;
    padding-inline-start: none;
}
#menu-principal a{
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
	position: relative;
    color: white;
    border-bottom: 1px solid white;
}
#eslogan{
    width: 375px;
    height: 321px;
    color: white;
    background: url("../images/bus_morado.png");
    background-size: cover;

}
#botonLogin{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
.Login{
    width: 30%;
    height: 30%;
    border: 1px double black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    display: relative;
    margin-left: auto;
    margin-right: auto;
    
}
section{
    text-align: left;
    margin: auto;
}
/* Fin Header */
#titulo{
    font-size: 15px;
    font-weight: bold;
}


#botonServicios{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}