/*  Header  */
#Logo img{
    max-width: 116px;
    max-height: 48px;
}
#Icono_Menu{
    max-width: 30px;
    max-height: 20px;
    float: right;
    margin-top: 16px;
}
#menu-principal{
    text-align: center;
    clear: both;
    margin: auto;
    background-color: #810052;
}
#menu-principal ul{
    list-style: none;
    padding-inline-start: none;
}
#menu-principal a{
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
	position: relative;
    color: white;
    border-bottom: 1px solid white;
}
#eslogan{
    width: 375px;
    height: 321px;
    color: white;
    display: flex;
    background: url("../images/morado.jpeg");
    background-size: cover;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#botonLogin{
    float: right;
    border: none;
    display: block;
    background-color: #810052;
    margin-top: 16px;
}
#botonLogin a{
    text-decoration: none;
    color: white;
    border: none;
}
.Login{
    width: 30%;
    height: 30%;
    border: 1px double black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    display: relative;
    margin-left: auto;
    margin-right: auto;
}
#Foto_mujer_presentar{
    width: 375px;
    height: 252px;
}
section{
    text-align: left;
    margin: auto;
    margin-left: 36px;
    margin-right: 36px;
}
/* Fin Header */
#titulo{
    font-size: 15px;
    font-weight: bold;
}
#tituloContacto{
    text-align: center;
}
#botonContacto{
    background-color: #810052;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #810052;
}
#botonContacto a{
    color: white;
    text-decoration: none;
}